Flask
gunicorn
requests
msal
pdfplumber
pytesseract
pillow
opencv-python-headless
numpy
certifi
python-dotenv
pandas
openpyxl
pdf2image
gspread
google-auth
google-api-python-client
pandas
pdfplumber
pytesseract
pillow
watchdog
openpyxl
